<template>
    <!--@if(auth()->check())-->
<div>
    <div v-if="signedIn">

        <div class="form-group">
            <!--<textarea class="form-control" id="body" name="body"  rows="5" placeholder="Make a reply here" v-model="body"></textarea>-->
            <wysiwyg name="body" v-model="body" placeholder="Have something to say" ref="trix" :shouldClear="completed"></wysiwyg>
        </div>
        <button type="submit" class="btn btn-primary" @click="addReply">Submit</button>
    </div>

    <div class="text-center" v-else> Please <a href="/login" >login</a> to particate</div>

</div>
</template>
<script>
    import 'at.js';
    import 'jquery.caret'
    export default{
        data(){
            return {
                body : '',
                completed : false
            };
        },
        computed:{
            signedIn(){
                return window.App.signedIn
            }
        },
        mounted(){
            $("#body").atwho({
                at: "@",
                delay : 750,
                callbacks: {

                  remoteFilter:function(query,callback){
                    console.log('getter');
                       $.getJSON('/api/users',{name:query},function(usernames){
                           callback(usernames)
                       });
                   }
                }
            });
        },


        methods : {
            addReply(){
                axios.post(location.pathname +'/replies',{body : this.body})
                    .catch(error =>{
                       flash(error.response.data,'danger')
                    })
                    .then(({data}) => {
                    this.body = '';
                    this.completed = true;
                    flash('Your reply has been posted');

                    this.$emit('created',data);
                    })
            }
        }
    }
</script>