`<template>
        <div :id="'reply-' +id" class="panel" :class="isBest ? 'panel-success' : 'panel-default'">
            <div class="panel-heading">
                <div class="level">
                    <h5 class="flex">
                        <a :href="'/profiles/' +reply.owner.name" v-text="reply.owner.name"> </a> said <span v-text="ago"></span>
                    </h5>

                    <favorite :reply="reply" v-if="signedIn"></favorite>
                </div>
            </div>
            <div class="panel-body">
                <div v-if="editing">
                    <form @submit.prevent="update">
                        <div class="form-group">
                            <!--<textarea name="body" class="form-control" v-model="body" required></textarea>-->
                            <wysiwyg v-model="body"></wysiwyg>
                        </div>
                        <button class="btn btn-xs btn-primary">Update</button>
                        <button class="btn btn-xs btn-link" @click="editing = false" type="button">X</button>
                    </form>
                </div>

                <div class="body" v-else v-html="body"></div>
            </div>
            <!--@can('update',$reply)-->
            <div class="panel-footer level" v-if="authorize('owns',reply) || authorize('owns',reply.thread)" >
                <div v-if="authorize('owns',reply)">
                    <button class="btn btn-xs mr-1" @click="editing = true">Edit</button>
                    <button type="submit" class="btn btn-danger btn-xs" @click="destroy">Delete</button>
                </div>
                <button type="submit" class="btn btn-default btn-xs ml-a" @click="markBestReply" v-if="authorize('owns',reply.thread)">Best Reply</button>

            </div>
            <!--@endcan-->
        </div>
</template>
<script>
    import Favorite from './Favorite';
    import moment from 'moment';
    export default {
        props:['reply'],
        components:{Favorite},
        data(){
            return {
                editing :false,
                id:this.reply.id,
                body: this.reply.body,
                isBest : this.reply.isBest
            }
        },
        computed: {
            ago() {
                return moment(this.reply.created_at).fromNow() + '...';
            }
        },
        created(){
            window.events.$on('best-reply-selected',id => {
                this.isBest = (id === this.id);
            })
        },
        methods : {
            update(){
                axios.patch('/replies/' + this.id, {
                    body : this.body
                }).catch(error => {
                    flash(error.response.data,'danger');
                });
                this.editing = false;
                flash('updated');
            },
            destroy(){
                axios.delete('/replies/' + this.id);
                this.$emit('deleted',this.id);
            },
            markBestReply(){
                this.isBest = true;
                axios.post('/replies/' + this.reply.id + '/best');
                window.events.$emit('best-reply-selected',this.reply.id);
            }
        }
    }
</script>