<template>
    <div>
        <input id="trix" :name="name" type="hidden" name="body" :value="value">
        <trix-editor ref="trix" input="trix" :placeholder="placeholder"></trix-editor>
    </div>
</template>
<script>
    import Trix from 'trix';
    export default{
        props:['name','value','placeholder','shouldClear'],
        mounted () {
            this.$refs.trix.addEventListener('trix-change', e => {
                console.log('Handling');
                this.$emit('input',e.target.innerHTML);
            });
            this.$watch('shouldClear',() => {
                this.$refs.trix.value = '';
            });
        }
    }
</script>